.con-main {
  width: 70%;
  text-align: center;
  margin: 10px auto;
  padding: 30px;
}
.example-container2 {
  padding: 10px;
}
.example-container2 .mat-form-field {
  padding: 10px;
}

.con-main {
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}
.mat-card > * {
  text-align: right !important;
}
.mat-card-header {
  flex-direction: row-reverse;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 18px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.example-container2 {
  padding: 10px;
}
.example-container2 .mat-form-field {
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.con-loading {
  width: 100px;
  margin: 0 auto;
}
.con-header-card {
  margin: 0 auto;
  text-align: center;
}
